@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-size: 100%;
}