@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* background-color: rgb(140, 241, 140); */
    color: white;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-size: 100%;
}

body {
    background-image: url(/champions.png);
    background-position: initial;
    background-size: cover;
    background-repeat: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



