@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: rgb(140, 241, 140);
    color: black;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-size: 100%;
}
